[2018-11-02 15:09] neolit123 opened #4 "an error should be thrown for unknown fields"
sample code:
[code]

output is `done` instead of error for `b` being unknown.

/kind bug
cc @dims

[2018-11-02 15:47] neolit123 commented on #4
/lifecycle active
/assign

[2018-11-02 19:02] #4 closed

[2018-11-05 19:13] neolit123 opened #9 "improve error reporting JSON vs YAML"
the errors of this library need work.
with the strict JSON decoder unknown fields would result in errors such as:

[code]

this gives a hint that "z" is unknown.
but the user would first of all be confused why is the error throw to stdout about JSON, while their e.g. manifest is in YAML.

xref: https://github.com/kubernetes-sigs/yaml/pull/7

[2018-11-10 03:32] neolit123 opened #10 "yaml.UnmarshalStrict() does not respect `json: alias` fields"
this libarary's yaml.UnmarshalStrict() for a YAML file that contains a KubeletConfig fails for this field:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L473

if the YAML document uses `resolverConfig` it works, but if it uses `resolvConf` it fails and the JSON alias is not respected.

/kind bug
/priority critical-urgent

[2018-11-10 03:32] neolit123 commented on #9
/kind cleanup
/priority important-longterm

[2018-11-10 15:47] neolit123 commented on #10
example go file:
https://gist.github.com/neolit123/f738d82c7225952066d71ee36946cb64
[code]

[2018-11-10 16:04] neolit123 commented on #10
ok, so this is more of a kubeadm bug and it's because of:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go
vs
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/config/types.go

the staging version is doing the json labeling, while the pkg version is not doing it and any field that does not match it's json tag fails for stri

[2018-11-10 16:04] #10 closed

[2019-04-26 09:17] martina-if opened #15 "Strict unmarshalling should be case-sensitive"
Using `yaml.UnmarshalStrict(...)` compares keys in a case insensitive way.

I would expect it to do case sensitive comparisons of key names so that if I define a key in my schema called `somethingGreat`, a key in a yaml file called `somethingGREat` wouldn't match, and the unmarshal would fail with the error `unknown field "somethingGREat"`.

[2019-04-26 10:16] errordeveloper commented on #9
It would be great if we could fix this, the error messages are very very confusing to end-users.

[2019-04-26 10:25] errordeveloper commented on #15
cc @dims @sttts @neolit123

[2019-04-26 10:27] errordeveloper opened #17 "Should this library use json-iterator?"
Kubernetes uses [`github.com/json-iterator/go`](https://github.com/json-iterator/go) instead of `encoding/json`, should this library switch also?

[2019-04-26 10:29] errordeveloper opened #18 "Should this library move to yaml.v3"
[`gopkg.in/go-yaml.v3`](https://github.com/go-yaml/yaml) is already available, should we upgrade to it?

[2019-04-26 10:48] dims commented on #18
yes, go for it! note that we would have to trial run changes using a WIP PR in k/k

[2019-04-26 10:49] dims commented on #17
sure!

[2019-04-26 11:48] neolit123 commented on #15
i will verify this locally.
seems like something we want to fix.

[2019-04-26 11:48] neolit123 commented on #15
/kind bug
/priority important-longterm

[2019-04-26 12:20] dims commented on #15
/assign @neolit123

[2019-04-26 12:43] neolit123 commented on #17
/assign
although need to find bandwidth.
i'm yet to check https://github.com/kubernetes-sigs/yaml/issues/15
but i suspect discrepancy between the current backends: yaml2 vs encoding/json.

json-iter does support case sensitive JSON.

[2019-04-26 12:44] neolit123 commented on #17
/kind feature
/priority important-longterm

[2019-04-26 12:45] neolit123 commented on #18
/kind feature
/priority important-longterm

[2019-04-26 12:47] neolit123 commented on #9
problem here is that all the backends out there including encoding/json yaml.2/3, json-iter don't have good typed errors. this leaves us in a space where we need to parse strings, modify them and return proper errors.

i'm -1 on that, so it's probably best to wait on the backends to fix them, or attempt to push patches upstream.

/remove-kind cleanup
/kind design
/remove-priority important-longter

[2019-04-26 15:16] errordeveloper commented on #17
Interesting! So Kubernetes only uses it in part in some performance-critical paths?

[2019-04-26 15:33] neolit123 commented on #17
yes. i have a PR in the works to enable json-iter.
whether it makes it in is another question as it requires a minor breaking change.

[2019-04-29 08:05] martina-if commented on #15
How to reproduce it:

[code]

Produces:
[code]

[2019-04-29 08:15] errordeveloper commented on #15
So with `yaml "gopkg.in/yaml.v2"` it does actually fail:
[code]
I wonder what is going on here...

[2019-04-29 12:29] neolit123 commented on #15
@martina-if @errordeveloper
see this PR in flight:
https://github.com/kubernetes-sigs/yaml/pull/19

[code]

[2019-05-13 14:04] martina-if commented on #15
Hi @neolit123, thanks for the link to the PR! Do you need a review from our side?

[2019-05-13 14:05] neolit123 commented on #15
sure, go ahead.

[2019-06-18 09:47] rvodden opened #22 "json quoting error in YAMLToJSON"
I found this issue whilst investigating https://github.com/kubernetes-sigs/kustomize/issues/843. I'm going to do a little digging around here and see if I can get to a root cause.

[code]
The output is:
[code]
So yaml.YAMLToJSON is erroneously putting extra `{}` arround the 2nd example.

[2019-06-18 11:54] rvodden commented on #22
After much digging and tweaking around, this is correct behaviour. The line `v3="[{\"path\": \"var/druid/segment-cache\"}]"` is being interpretted correctly as a map from v3="`[{\"path\"` to `\"var/druid/segment-cache\"}]"`. In order to achieve the behaviour the original poster was looking for the colon should be escaped also.

[2019-06-18 11:54] #22 closed

[2019-06-29 14:13] eclipseo opened #23 "Int overflow on 32 bits arches"
Golang 1.12.6 on i686 and armv7:
[code]

[2019-07-04 15:45] sttts opened #24 "go.mod module name is wrong, should be: sigs.k8s.io/yaml"
[code]

[2019-07-04 18:38] #24 closed

[2019-08-11 14:35] errordeveloper commented on #15
/remove-lifecycle stale

On Sun, 11 Aug 2019, 3:22 pm fejta-bot, <notifications@github.com> wrote:

[2019-08-25 13:30] neolit123 commented on #9
as explained here this is far from ideal:
https://github.com/kubernetes-sigs/yaml/issues/9#issuecomment-487044457

if someone wishes to help please open tickets for yaml v2/v3 and json-iter.

[2019-08-25 13:30] #9 closed

[2019-08-25 13:37] neolit123 commented on #18
/lifecycle fronzen

[2019-08-25 13:39] neolit123 commented on #17
initial reaction was that there is no good justification for this change:
https://github.com/kubernetes-sigs/yaml/pull/19
/lifecycle fronzen

[2019-08-25 13:39] neolit123 commented on #18
the API calls in v3 changed, so if this is done we might have to fork.

see the discussion in this PR:
https://github.com/kubernetes-sigs/yaml/pull/26

[2019-08-25 13:40] neolit123 commented on #18
/lifecycle frozen

[2019-08-25 13:40] neolit123 commented on #17
/lifecycle frozen

[2019-10-25 05:34] llamerada-jp opened #27 "Difference with gopkg.in/yaml.v2 for string like numeric parsing"
I had noticed that a difference between this library and gopkg.in/yaml.v2 when parsing string like numeric.
It is a sample code and output of it below.
Could you fix it to get the same result?

code:
[code]

output:

[code]

[2019-10-25 07:28] nikhita commented on #27
This is actually a bug that comes from https://github.com/ghodss/yaml.

This occurs because while using `gopkg.in/yaml.v2`, we directly use `yaml2.Unmarshal` onto the struct, so the `reflect.Value` is correctly interpreted as `String`. When yaml2 sees that the value is string, it directly sets the value as string and doesn't do any extra normalizations on it:

https://github.com/go-yaml/yaml/blob/

[2019-10-25 12:07] dims commented on #27
another interesting note adding `"` seems to get the desired result ( https://play.golang.org/p/08dHoKvvR9M )

[code]

[2019-10-25 15:11] llamerada-jp commented on #27
Thank you for your reply.
I tried to make a patch, but I realized it wasn't easy.
I will try the method taught by dims.

[2019-10-25 15:12] #27 closed

[2019-10-27 20:40] neolit123 commented on #23
/remove-lifecycle rotten
@eclipseo would you be able to send a PR to fix this?

[2019-12-03 22:19] invidian opened #30 "Difference with gopkg.in/yaml.v2 when value is passed instead of a reference"
It seems that when you pass a struct by value to `Unmarshal`, it silently fails to decode the input data. That seems to be a different and undocumented behavior from `gopkg.in/yaml.v2`, which works both when you pass by value and by reference.

This might be confusing for users, when one changes the import from `gopkg.in/yaml.v2` to `sigs.k8s.io/yaml` and expects that basic things will work the sa

[2019-12-03 23:50] neolit123 commented on #30
wondering if this is a json-iterator artifact.
sigs.k8s.io/yaml converts YAML to JSON before unmarshaling.

[2019-12-10 08:45] errordeveloper commented on #15
/remove-lifecycle rotten

On Mon, 9 Dec 2019 at 15:30, fejta-bot <notifications@github.com> wrote:

[2020-02-24 22:14] neolit123 commented on #23
/lifecycle frozen

[2020-02-29 03:19] zhsj opened #34 "Test failed on arm64"
[code]

The diff is

[code]

and

[code]

[2020-03-03 10:58] invidian commented on #30
Activity.

[2020-03-10 08:59] errordeveloper commented on #15
/remove-lifecycle stale

[2020-04-02 11:24] invidian commented on #30
/remove-lifecycle rotten

[2020-05-02 21:17] invidian commented on #30
/remove-lifecycle rotten

[2020-05-29 15:01] neolit123 commented on #34
/remove-lifecycle stale
/help
/kind bug

looks like this went unnoticed, but i find the signed / unsigned diff quite odd, if that is comparing amd64 and arm64.

we don't have CI signal for arm64 but it is claimed as a supported platform, so PRs welcome.

[2020-06-08 17:44] errordeveloper commented on #15
/remove-lifecycle stale

[2020-06-08 17:44] errordeveloper commented on #15
/lifecycle frozen

[2020-06-08 18:03] neolit123 commented on #15
we faced this recently again here:
https://github.com/kubernetes/kubeadm/issues/2167

[2020-06-14 15:51] eclipseo commented on #34
I'm having a similar issue on aarch64, s390x and ppc64: https://koji.fedoraproject.org/koji/taskinfo?taskID=45709245

[2020-07-20 14:10] cretz opened #35 "README example slightly off"
In the README there is a bit of code that says:

[code]

But really the first output is age _then_ name. Usually this would be no big deal, but it gives the false sense that this library preserves field order like `json.Marshal` does with structs.

[2020-07-20 17:38] neolit123 commented on #35
/good-first-issue
/help wanted
/kind documentation

[2020-07-20 17:38] neolit123 commented on #35
/priority backlog

[2020-07-20 20:39] ZhiFeng1993 commented on #35
/assign

[2020-07-20 20:49] cretz commented on #35
It may also be worth pointing out, since https://github.com/ghodss/yaml doesn't seem to either that I can find, that _both_ `json.Marshal` and [yaml](https://pkg.go.dev/gopkg.in/yaml.v2)`.Marshal` support marshaling fields in order of their presence in the struct, but these to-json-then-to-yaml libs don't because they convert to maps first which then marshals usually in alphabetical order.

[2020-07-27 13:12] #35 closed

[2020-08-01 17:53] invidian commented on #30
/remove-lifecycle stale

[2020-09-08 15:13] rmb938 opened #37 "Can't unmarshal multiple documents"
I have a yaml output that has multiple documents that I want to unmarshal.

When I try and unmarshal into a list I get this error

[code]

[2020-09-08 17:48] neolit123 commented on #37
the library does not support unmarshaling all the documents in an YAML multi doc, but if you pass a multi-doc it should still unmarshall the first document. see here:
https://play.golang.org/p/o-E1IUA7w1x

it manages to unmarshall the first document into `A`, so not sure why are you seeing this error.

if you want to support multi-doc you should split the docs (around `---`) and unmarshall them se

[2020-09-08 17:53] rmb938 commented on #37
Ah yup I could do it that way.

I did figure out that `gopkg.in/yaml.v2` does support decoding a multi-document yaml via the Decoder. Would it be possible to add that ability to this library?

[2020-09-08 17:58] neolit123 commented on #37
potentially, but this library is primary used in kubernetes/kubernetes and there we already have code to split the documents and unmarshall separately, so in a way this is not very needed..

i can mark this as a feature request, but contributions would be appreciated.

/remove-triage support
/kind feature
/priority backlog
/help

[2020-09-13 11:14] StarpTech opened #38 "Marshal doesn't respect struct tags?"
Hi, when reading the docs I thought that this library is a drop-in replacement for the `go-yaml` with the benefit that we don't need to maintain multiple tags and marshalers. I faced with the following issues when using `yaml.Marshal`

- Property keys with the name "on" are parsed as boolean even if a struct tag `json:"on"` exists.
- Empty values aren't omitted when using `json:"omitempty"`
- The

[2020-09-13 19:24] neolit123 commented on #38
hi, could you share an example Go struct that reproduces all the problems or use the [Go playground](https://play.golang.org/)?

what is the significance of the `:on` suffix in the name?
AFAIK, "name:on" would be treated as the whole name of the field.

https://play.golang.org/p/8QQpksNcdUf

this example shows that the output is

[code]

instead of:
[code]

the resulted yaml fields are sorted alph

[2020-09-13 19:24] neolit123 commented on #38
/triage support

[2020-09-13 20:15] StarpTech commented on #38
Sry that was a typo. I will try to provide examples.

[2020-10-25 09:09] advancedwebdeveloper opened #41 "panic: runtime error: invalid memory address or nil pointer dereference"
Hi.

Got such an issue:

Here is my environment:

Here is what I am using:

Could be obtained [here ](https://drive.google.com/file/d/1goBZhc2st89x4LswJivTFOpIbydJUi50/view?usp=sharing)

CC @ianlancetaylor @cherrymui @thanm

[2020-10-26 12:41] neolit123 commented on #41
The panic seems to happen in libgo under llvm. Can you explain why this is
a problem in this yaml library?

[2020-10-26 17:36] ianlancetaylor commented on #41
Is this repeatable?  The backtrace doesn't make much sense.

[2020-10-30 18:59] invidian commented on #30
/remove-lifecycle stale

[2020-10-31 10:08] advancedwebdeveloper commented on #41
Hold on, I am heading to reproduce it today (by using a "debug" build of gollvm)

[2020-10-31 14:48] #41 closed

[2020-11-11 18:34] neolit123 commented on #34
/reopen
the tests should pass on arm64.

[2020-11-11 21:24] afbjorklund commented on #34
@neolit123 : there is something really funky going in the FPU or math libs on arm64:

[code]

Even though the floating point number is binary indentical, it still produces different results ?!?

[code]

[2020-11-11 21:58] neolit123 commented on #34
this is not right.

can you please:
[code]

and share the output here. i doubt this is hardware related (e.g. VFP) and seems more like a compiler bug.

- what is the golang version?
- are your running on QEMU or real HW?

we might have to report this to golang.

[2020-11-12 03:45] neolit123 commented on #34
just ran the same code with:
[code]

in:
[code]

using:
[code]

and got:
[code]

which now has the int64() cast print MAX_INT64 for both cases.

[code]

<details>

[code]

</details>

it appears to be pining the literal of MAX_INT64 (9223372036854775807) in the first case and fetching it from the stack for the second case. i think this is just a matter of optimization and the fact that 92233720368

[2020-11-12 07:12] afbjorklund commented on #34
I used go 1.15.2 running on amd64 (with GOARCH=arm64), and aarch64 qemu to run it (I suppose)

Re-running the same test on a Raspberry Pi 4, I also get 9223372036854775807 for **both** of them...

[2020-11-12 08:48] zhsj commented on #34
Not sure what happens recently, it seems the issue is gone on real HW. See the log at https://ci.debian.net/packages/g/golang-k8s-sigs-yaml/testing/arm64/ starting from 2020-03-08, the test is green.. the log is rotated, so no idea what changes..

[2020-11-12 08:48] afbjorklund commented on #34
It was indeed the optimizer, that caused it to behave differently the first time.

[code]

[2020-11-12 08:54] afbjorklund commented on #34
the test fails consistently on Rpi4 (A-72)

<details>
ubuntu@ubuntu:~/kubernetes-yaml$ grep PRETTY /etc/os-release
PRETTY_NAME="Ubuntu 20.04.1 LTS"
ubuntu@ubuntu:~/kubernetes-yaml$ uname -m -r
5.4.0-1022-raspi aarch64
ubuntu@ubuntu:~/kubernetes-yaml$ go test -v ./ -run TestJSONObjectToYAMLObject
=== RUN   TestJSONObjectToYAMLObject
=== RUN   TestJSONObjectToYAMLObject/nil
=== RUN   TestJSONObjectT

[2020-11-12 11:00] afbjorklund commented on #34
@zhsj  : the "green" tests on debian are probably relate to this patch: :-P

https://salsa.debian.org/go-team/packages/golang-k8s-sigs-yaml/-/blob/debian/sid/debian/patches/0001-only-run-TestJSONObjectToYAMLObject-on-amd64.patch

[2020-11-12 12:32] zhsj commented on #34
hmm, sorry I forget I disabled that... it happens so long ago.. :facepalm:

[2020-11-12 15:59] neolit123 commented on #34
does this patch work for you @zhsj @afbjorklund ?
[code]

[2020-11-12 16:20] afbjorklund commented on #34
@neolit123 : it works OK with qemu, don't have the RPi4 here atm

[2020-11-12 19:16] neolit123 commented on #34
PR: https://github.com/kubernetes-sigs/yaml/pull/42

[2020-11-12 19:35] neolit123 commented on #34
yes, looks like someone tried to add ppc64le here:
https://github.com/kubernetes-sigs/yaml/pull/39

[2020-11-12 19:46] hakman commented on #34
may be a bit simpler for ARM64 :)

[2020-11-12 20:31] afbjorklund commented on #23
@neolit123 : this seems to just be missing a cast, from constant int to int64 ?

[code]

[code]

[2020-11-12 20:34] afbjorklund commented on #34
Maybe add ARM32 (`arm` a.k.a. armv7) as well, in that case ?

It had another one of those long-standing trivial bugs (#23)

[2020-11-12 20:37] neolit123 commented on #23
yes, this cast is valid because the limits are untyped ints.

[2020-11-12 20:40] neolit123 commented on #34
SGTM, the supported platforms are here:
https://github.com/kubernetes/kubernetes/blob/153d33091b0f1fa6207b9b233a2e050e9cb733d2/hack/lib/golang.sh

[2020-11-13 05:33] hakman commented on #34
Funny, the Graviton2 tests pass: https://travis-ci.org/github/kubernetes-sigs/yaml/builds/743332132.

@afbjorklund I don't see ARM32 support in TravisCI: https://docs.travis-ci.com/user/multi-cpu-architectures/#multi-cpu-availaibility.

[2020-11-13 06:15] zhsj commented on #34
It seems travis is booting an amd64 vm when it should be arm64-graviton2

https://travis-ci.org/github/kubernetes-sigs/yaml/jobs/743332141#L189

[code]

[2020-11-13 06:18] zhsj commented on #34
oh, travis says 'arm64-graviton2 available only on travis-ci.com'

[2020-11-13 06:18] afbjorklund commented on #34
Maybe it supports `binfmt_misc` ?

That's how I prefer to run it myself...

[2020-11-13 06:19] zhsj commented on #34
It should be ok to run arm32 on arm64 env. Just tell Go with GOARCH=arm.

[2020-11-13 06:36] afbjorklund commented on #34
Or run it all from the same VM, perhaps ?

[code]

Hardware emulation only when needed...

[2020-11-13 06:53] hakman commented on #34
At least they could have failed the test... 😞
Btw, seems that travis-ci.org is going away soon:
https://docs.travis-ci.com/user/migrate/open-source-repository-migration/#q-what-will-happen-to-travis-ciorg-after-december-31st-2020

Will update the PR soon.

[2020-11-13 06:56] afbjorklund commented on #34
Seems ominous... Same as Docker Hub, perhaps ?

Then again:

[2020-11-13 06:59] hakman commented on #34
Problem will be migrating. Not sure how would be done for the k8s repos and if Prow will be able to see job status.
https://github.com/kubernetes/test-infra/issues/10423

[2020-11-13 07:32] afbjorklund commented on #34
Minikube just stopped using Travis and moved to GitHub Actions instead. There's still some Jenkins around though.

[2020-11-13 07:50] hakman commented on #34
The problem with GH actions is that there is no ARM support (yet). Other than that, it's a good call, considering that TravisCI rate limited the open source jobs.

[2020-11-13 08:00] afbjorklund commented on #34
You can use external workers for that, in the meantime (or QEMU)

[2020-11-13 08:09] hakman commented on #34
If I would do it for my company, external workers would be an option, but not here.
As for QEMU... it's better than nothing, but can't replace real hardware for anything serious. Also, tends to duplicate the work when some issue is discovered, because you have to double check on real hardware also.

[2020-11-19 00:49] philomory opened #45 "Unmarshal loses type information"
When unmarshalling a YAML file to a `map[string]interface{}`, all integer values are converted to `float64` values instead, despite the fact that both YAML and Go support integer values. This is presumably due to the way the package goes from YAML to JSON before finally unmarshalling to "real" Go types, with JSON only having float numeric types.

For an example of this problem in action (and a com

[2020-11-19 04:30] neolit123 commented on #45
/kind bug

[2020-12-13 09:34] hakman commented on #34
/remove-lifecycle rotten
/lifecycle frozen

[2020-12-13 09:34] hakman commented on #34
/reopen

[2020-12-18 01:04] jcfj opened #46 "Bug in anchor handling with UnmarshalStrict: key already set in map"
When trying to read this yaml file:
[code]
into these structs:
[code]

with `yaml.UnmarshalStrict`, the following error appears:
[code]

Thanks to @Callisto13 for creating this [reproducing example](https://github.com/Callisto13/yaml-repro).

It seems that using either the non-strict version of `Unmarshal` or `gopkg.in/yaml.v2` get around this error, but neither is really an acceptable thing to do

[2020-12-22 23:11] raffaelespazzoli opened #47 "Probable Bug - YAMLToJSON - double quotes (empty string) are converted to null"
when doing a YAMLToJSON on a `map[string]string` (in my case it was the nodeSelector of a DaemonSet) and using annotation of the form: `node-role.kubernetes.io/worker: ""` the result is: `{"node-role.kubernetes.io/worker":null}`.
I believe this is a mistake and that it should be: `{"node-role.kubernetes.io/worker":""}`.
This behavior caused issues for me as the resulting object could not validated

[2021-01-24 23:48] #34 closed

[2021-01-25 12:46] dims opened #48 "Move from travis to github actions"
Travis is going away, so we need to move out CI jobs from travis to github actions
https://github.com/kubernetes-sigs/yaml/blob/master/.travis.yml

There are lots of other k8s projects that have already moved, so would be easy to pick one of them to emulate:
https://cs.k8s.io/?q=jobs%3A&i=nope&files=%5C.github.*&repos=

example the one from klog:
https://github.com/kubernetes/klog/tree/master/.git

[2021-01-25 13:33] viveksyngh commented on #48
I would like to work on this one.

[2021-01-25 15:09] nikhita commented on #48
@dims :wave: out of curiosity, is there any particular reason why we would move to use github actions instead of prow?

[2021-01-25 15:12] dims commented on #48
@nikhita these are simple jobs, it's easier to write/maintain some basic ci tests without bringing in the hammer. (also reduces cost of our CI as a side effect)

[2021-01-25 15:33] longwuyuan commented on #48
https://github.com/kubernetes-sigs/yaml/pull/49

[2021-01-26 15:12] #48 closed

[2021-01-26 21:30] longwuyuan opened #52 "Avoid hardcoding golang versions in github-actions CI, if possible"
Very softly stepping here as I dont know the head or tail of the appcode.

We are being explicit with the version of go in the github-actions ci on line 12 here https://github.com/kubernetes-sigs/yaml/edit/master/.github/workflows/go.yml ;

[code]
This implies a manual task being created with each new release of golang, that the developers start using.

This issue is just to track the above mentio

[2021-01-26 21:31] longwuyuan commented on #52
@dims @palnabarun

[2021-01-27 09:03] longwuyuan commented on #52
Found that

[code]
is supported but even this implies that at least a base version has to be set manually.

Just tracking thoughts here so we know if we want to have a some instrumentation to check the latest release of golang

[2021-01-28 20:47] invidian commented on #30
/remove-lifecycle stale

[2021-02-05 20:05] #37 closed

[2021-02-10 22:04] #38 closed

[2021-04-17 12:07] jcaesar commented on #46
/remove-lifecycle rotten 'td be nice if bugs didn't rot?

[2021-04-19 20:30] philomory commented on #45
/reopen
/remove-lifecycle-rotten

[2021-04-19 20:30] philomory commented on #45
/remove-lifecycle rotten

[2021-04-25 19:51] nikhita commented on #47
/remove-lifecycle rotten

[2021-04-27 10:04] #52 closed

[2021-04-29 07:02] invidian commented on #30
/remove-lifecycle stale

[2021-05-28 08:42] maver1ck opened #54 "Bump version of go-yaml to 2.3.0"
go-yaml version 2.3.0 fixed long line wrapping.
https://github.com/go-yaml/yaml/pull/571

Please bump to this version

[2021-07-15 18:57] chaodaiG opened #56 "Roundtrip unmarshal/marshal with omitempty failed to restore original yaml"
As illustrated in #55:

With struct defined as
[code]
and provided yaml:
[code]
Unmarshal got:
[code]
So far things went expected.

But when marshal the unmarshalled struct and got:
[code]
instead of `a: []`

And of course unmarshal again and got:
[code]

Feel like a bug but not sure. Is it intended behavior for omitempty?

[2021-07-16 04:56] smlx commented on #56
This seems to be intended:

https://pkg.go.dev/encoding/json

[2021-07-16 15:18] liggitt commented on #56
agreed, the omitempty directive on a slice or map field collapses empty and null values

[2021-07-16 15:18] #56 closed

[2021-07-19 19:06] philomory commented on #45
/remove-lifecycle stale

[2021-07-25 19:01] dhermes opened #58 "Struct embedding loses type information and causes failed parsing."
[code]

yields

[code]

[2021-07-28 07:46] invidian commented on #30
/remove-lifecycle stale

[2021-08-09 12:03] zanven42 commented on #46
i am currently facing this issue.

[2021-09-04 08:17] karlkfi commented on #45
This is still a problem. I just ran into it using `sigs.k8s.io/yaml`.

Integers are getting unmarshalled as `float64` instead of `int`.

I noticed that this is fixed in `gopkg.in/yaml.v3` as well.

[2021-09-07 13:13] chenzhiwei opened #60 "yaml marshal sequences indent style"
Hello, when I use this package to marshal an object, the format of sequences is:

[code]

But seems the suggested format in yaml spec site is:

[code]

I know both of them are fine, but I think it is better to use a widely-used style.

https://yaml.org/spec/1.2/#id2797382

[2021-09-07 15:19] neolit123 commented on #60
this comes from the yaml.v2 library:
https://github.com/kubernetes-sigs/yaml/blob/master/yaml.go#L11

i don't think there is a way to control it via this wrapping library (kubernetes-sigs/yaml).

/priority backlog
/kind feature
/help

[2021-09-15 09:24] neolit123 commented on #17
Looks like there is desire to switch k/k away from json iter.

https://github.com/kubernetes/kubernetes/pull/105030

It suggests using a fork of stdlib, that supports the missing valudation features.

[2021-09-22 14:22] #54 closed

[2021-09-24 23:44] #47 closed

[2021-10-04 23:08] gp42 commented on #37
Just in case somebody is looking for this k8s code to split the documents: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go

[2021-10-19 10:30] hjblom opened #64 "yamlUnmarshal cannot unmarshal time.Duration"
Looking at the source code, the Unmarshal function uses `jsonUnmarshal` to unmarshal yaml after conversion. As `jsonUnmarshal` [does not support](https://stackoverflow.com/questions/48050945/how-to-unmarshal-json-into-durations) `time.Duration`, `Unmarshal` would also not support it.
[code]

Can `yamlUnmarshal` be updated to use `gopkg.in/yaml.v2 Unmarshal`, or was there a specific reason json Unm

[2021-10-20 04:35] jcfj commented on #46
Lemme try.
/reopen
/remove-lifecycle rotten

/kind bug
/sig api-machinery

[2021-11-05 02:05] smlx opened #67 "icher typed errors"
`encoding/json` has various error types that `Unmarshal` can return such as

[code]

This contains lots of useful information that could be used when debugging `yaml.Unmarshal` errors. From what I can tell `yaml.Unmarshal` currently discards the rich error type returned by `json.Unmarshal`.

Could this package produce

[2021-11-15 15:47] tomasaschan opened #68 "Long strings are marshalled to invalid YAML; incorrect line breaks inserted"
When serializing an object that contains a very long string in its value, the resulting YAML has line breaks seemingly at random. This seems to be a bug in `gopkg.in/yaml.v2` that is fixed in `gopkg.in/yaml.v3`, but discussions in #18 and #61 seem to imply that migrating is nontrivial.

To reproduce, put the following in a file `repro_test.go`:
[code]
then run `go mod init; go mod tidy; go test ./

[2021-12-22 23:29] #58 closed

[2022-01-03 00:58] philomory commented on #45
/remove-lifecycle rotten

[2022-01-06 06:46] kevindelgado opened #70 "Expose a function from sigs.k8s.io/yaml that allows for strict unmarshaling to distinguish between strict and nonstrict errors."
Currently, the [kjson library](https://github.com/kubernetes-sigs/json/blob/main/json.go#L96) exposes an `UnmarshalStrict` function that returns strict errors and nonstrict errors separately (strict errors are those relating to unknown fields that are only erroneous when strict unmarshaling is desired and still allow marshaling to occur, while nonstrict errors are any other errors that are always

[2022-01-06 06:46] kevindelgado commented on #70
cc @liggitt

[2022-01-06 16:16] liggitt commented on #70
For full parity with the strict json parser, we'd need:

* full field paths to duplicate fields encountered
* list of duplicate fields encountered (not just the first)
* avoid terminating early when encountering duplicate fields and return the same decoded content as if non-strict decoding was performed

[2022-01-24 09:15] invidian commented on #30
/remove-lifecycle stale

[2022-01-27 02:51] jcfj commented on #46
I give up.

[2022-01-27 02:51] #46 closed

[2022-01-31 13:03] amustaque97 opened #71 "Question: How to parse multiple yaml resource in a single file"
Hi team,

I have a single yaml file let us suppose `config.yml` and it has multiple yaml configuration separated by `---` (three dashes). I'm using `YAMLToJSON` function to convert it to json but it is not returning 2nd resource config.
https://github.com/kubernetes-sigs/yaml/blob/9535b3b1e2893fe44efb37c5c9f5665e245d786a/yaml.go#L111

Does anyone how to do it?
Thanks

[2022-02-03 04:20] smlx commented on #67
/remove-lifecycle stale

[2022-02-04 16:13] #60 closed

[2022-02-14 09:28] tomasaschan commented on #68
/remove-lifecycle stale

[2022-02-23 02:33] natasha41575 opened #72 "Request to create an official fork of go-yaml"
Currently, the [go-yaml](https://github.com/go-yaml/yaml) library is used heavily by kubernetes and many subprojects. In kustomize, we use both go-yaml.v2 and go-yaml.v3 as well as this library for all of our yaml processing.

An update to go-yaml v3 resulted in what would have been a breaking change in kustomize. We talked to the go-yaml maintainer, who agreed to make the fixes, but could not com

[2022-02-23 15:51] liggitt commented on #72
I'm cautiously in favor, for a couple reasons:
* it lets us prioritize compatibility with yaml.v2 behavior while still picking up yaml.v3 improvements
* it will let us adjust parsing to accomodate information needed by https://github.com/kubernetes-sigs/yaml/issues/70

I would want to structure it similarly to https://sigs.k8s.io/json, where we expose as little of the API surface as possible while

[2022-02-24 21:42] KnVerey commented on #72
Thanks for filing this, Natasha. I also support this request. Maintaining a fork is not the ideal outcome, but it is better than being unable to make critical fixes to such a key dependency. And if we do need a fork, here makes more sense than inside Kustomize.

Just so we're all aware, this may require exposing quite a bit more of the existing surface than you might expect. kyaml extensively uses

[2022-02-28 14:13] neolit123 commented on #72
in other instances of discussions about the creation of larger internal k8s forks (https://github.com/gogo/protobuf ?) it was noted that the better investment would be to convince the existing (mostly unavailable) maintainers to grant k8s maintainers maintainer rights.

that seems like the better option on paper, has it been considered and communicated outside of github - e.g. via email with the e

[2022-03-03 09:45] SimonTheLeg opened #73 "Handling blank first line when using YAMLOrJSONDecoder"
When the first line of a yaml document is blank, the decoding will not work properly. By "not properly" I mean that it does not throw an error, but it also does not decode into the desired object.

Example:

[code]

Normally I would not mind too much and just remove the blank line. However `controller-gen` generates all of its CRDs to start with a blank line, which makes this a bit troublesome.

[2022-03-04 03:10] natasha41575 commented on #72
if k-sigs/yaml becomes the owner of go-yaml v3 code i'm not convinced a k8s SIG would have the bandwidth to own all incoming topics from attracted new users who seek missing feature X in origin.

Who would we want to add as maintainers to the go-yaml library? To me it seems like we either can:
- add k8s maintainers to the go-yaml maintainer list (maybe), and have them maintain go-yaml upstream. Th

[2022-03-07 10:29] SimonTheLeg commented on #73
After some debugging I found out that the error occurs before this yaml lib is even called. I have opened a new issue in the correct repo which also contains my current findings https://github.com/kubernetes/apimachinery/issues/133.

[2022-03-07 10:30] #73 closed

[2022-03-08 23:51] lavalamp commented on #72
Who is volunteering to maintain this new repo?

[2022-03-08 23:56] liggitt commented on #72
a subpackage of this repo actually seems like the most natural location if a fork was going to be brought in-org

[2022-03-09 09:57] inteon commented on #72
I have some contributions/ improvements that could be of value at some point for the fork (see https://github.com/amurant/go-yaml/tree/v3_next). The main idea in that branch is to add a YAML test-suite & to make the implementation more conformant, based on https://github.com/go-yaml/yaml/pull/798.

[2022-03-13 15:23] bluebrown opened #74 "package has no decoder function to read from streams"
Hi, I am wondering why this package doesn't provide a decoder to read from streams.  Would it be feasible to implement this?

[2022-03-13 15:37] dims commented on #74
@bluebrown see https://github.com/kubernetes-sigs/yaml/pull/59 looks like it lost steam

[2022-03-14 19:03] natasha41575 commented on #72
From the SIG API Machinery meeting on 3/9/21, we have reached consensus that this fork would be accepted provided that we add a disclaimer to the README indicating that we will only be accepting a small set of bug fixes, and will not be responsible for any major features.

Here is a draft of the disclaimer:

### Disclaimer

This package is a fork of the [go-yaml library](https://github.com/go-yaml

[2022-03-14 23:44] lavalamp commented on #72
That disclaimer LGTM

On Mon, Mar 14, 2022 at 12:04 PM Natasha Sarkar ***@***.***>
wrote:

[2022-03-16 18:18] natasha41575 commented on #72
@lavalamp @liggitt is there anything else I need to do before submitting a PR to fork?

[2022-03-18 11:30] #64 closed

[2022-04-01 03:18] brianpursley commented on #68
There are [plans to fork go-yaml](https://github.com/kubernetes-sigs/yaml/issues/72 ) which should allow this to be fixed in the newly forked repo.

Kustomize has a [similar issue](https://github.com/kubernetes-sigs/kustomize/issues/947) open.

[2022-04-01 17:04] KnVerey commented on #68
v2 of go-yaml already exposes the option to change this behaviour. In fact, it was [temporarily the default](https://github.com/go-yaml/yaml/pull/571) in v2.3 of that library, but the change was reverted at the request of the Kubernetes project in v2.4: https://github.com/go-yaml/yaml/pull/670. This repo deliberately opted not to set it by default: https://github.com/kubernetes-sigs/yaml/pull/62#d

[2022-04-01 20:34] brianpursley commented on #68
Thanks for the background @KnVerey

So in @tomasaschan's original example above, it sounds like this would be a way to avoid wrapping:
[code]

It's sort of unfortunate how go-yaml implemented that option globally, as there doesn't appear to be a way to unset it or check its value even.

At least `FutureLIneWrap()` is a workaround people can use for now.

[2022-04-03 07:38] philomory commented on #45
/remove-lifecycle stale

[2022-04-14 04:18] PrayagS commented on #37
Thanks, @gp42.

Used the `YAMLtoJSONDecoder` type to handle the decoding of multiple YAML documents in our CLI application.

[2022-04-26 21:08] invidian commented on #30
/remove-lifecycle stale

[2022-05-06 02:23] smlx commented on #67
/remove-lifecycle stale

[2022-05-20 21:33] willfindlay opened #77 "Bug: string fields parsed incorrectly in structs nested with `json:",inline"`"
When you have a struct nested with `json:",inline"` that has a string field, attempting to unmarshal an unquoted number into that string field will fail with `cannot unmarshal number into Go struct field [...] of type string`. This is a breakage with the YAML spec.

The following minimal example illustrates the problem: https://go.dev/play/p/enZcSLWe9jo

As you can see, unmarshaling Foo succeeds,

[2022-05-20 21:37] willfindlay commented on #77
Apologies, this is a duplicate of https://github.com/kubernetes-sigs/yaml/issues/58

[2022-05-20 21:37] #77 closed

[2022-05-30 10:49] sousandrei opened #78 "CVE-2022-28948: gopkg.in/yaml.v2"
## 🐛 Bug Report

An issue in the Unmarshal function in Go-Yaml v3 causes the program to crash when attempting to deserialize invalid input.

We should bump the usages on this repo

The problem is that some assumptions of v2 do not hold on v3, like MapSlices and UnmarshallStrict, how to proceed?

[2022-05-31 15:15] thediveo commented on #78
I find the CVE rather misleading, as considers all versions >=(!!!)3 to be safe, so the deserialization problem can't be in v3 but rather in v2? But then, not the first slightly messed-up CVE.

I've seen another behavioral change in yaml.v3, where map keys at least in some cases are now `string` instead of `interface{}`. yaml.v3 seems to be designed to be a unit test tester...

[2022-05-31 15:18] thediveo commented on #78
Well, you can't beat the issue number of https://github.com/go-yaml/yaml/issues/666 for the problem underlying the CVE.

[2022-05-31 17:39] amustaque97 commented on #71
There is no response from maintainer. Closing this issue.

[2022-05-31 17:45] SVilgelm commented on #71
@amustaque97 the PR I just raised yesterday should help in this: #79

Decoder supports reading from stream, so something like this:
[code]

[2022-06-01 19:48] thediveo commented on #78
Github CVE was updated and fixed, see also https://github.com/github/advisory-database/pull/350

[2022-06-13 02:04] liggitt commented on #78
my read is that this is a v3 issue, not a v2 issue, so this repo is not currently impacted

/close

[2022-06-13 02:04] #78 closed

[2022-06-24 04:52] zhsj opened #81 "JSONToYAML doesn't preserve map order"
[code]
[code]

[2022-06-24 04:55] liggitt commented on #81
that's correct, JSONToYAML passes through an unstructured map deserialization which does not preserve ordering

when reserializing, keys are sorted alphabetically

/close

[2022-06-24 04:55] #81 closed

[2022-07-03 00:03] philomory commented on #45
This is still an issue

[2022-07-03 00:04] philomory commented on #45
/remove-lifecycle stale

[2022-07-14 23:17] natasha41575 commented on #72
/remove-lifecycle rotten

[2022-07-24 08:37] changren-wcr opened #82 "Unexpected un-marshal behavior of Bool which is different from its wrapped package"
Package `sigs.k8s.io/yaml v1.3.0` is a wrapper around `gopkg.in/yaml.v2 v2.4.0`, but `sigs.k8s.io/yaml v1.3.0` has unexpected un-marshal behavior of bool, which is different from the behavior of `gopkg.in/yaml.v2 v2.4.0`

Package version recorded in `go.mod`:

[code]

Test function in `yaml_test.yaml`:

[code]

Test result:

[code]

Notice that value `off` is un-marshaled to `false` by package `si

[2022-07-26 07:35] invidian commented on #30
/remove-lifecycle stale

[2022-07-31 12:46] brianpursley commented on #68
/remove-lifecycle rotten

[2022-08-04 03:39] smlx commented on #67
/remove-lifecycle stale
/lifecycle frozen

[2022-08-10 17:07] #74 closed

[2022-09-17 05:40] amolmote opened #84 "Broken Link Issue"
## Bug Report
*Problem*
[This page ](https://github.com/kubernetes-sigs/yaml/blob/master/CONTRIBUTING.md) has one broken link of `contributor cheat sheet` which needs to fix.

*solution*
need to locate the correct path of README.

/assign
/kind bug
/kind documentation

[2022-10-01 20:56] karlkfi commented on #45
/sig api-machinery
/remove-lifecycle stale

For lack of a better owner, can someone from api-machinery look into this? It affects the Unstructured API client mostly.

[2022-10-13 00:34] KnVerey commented on #72
/remove-lifecycle stale

[2022-10-13 09:39] TimJones opened #86 "Marshal ignoring `omitempty` for nested structs"
Related to #38

If I have a nested struct with `omitempty` tag, and nothing declared for that struct, I would expect the whole struct to be omitted, not just the child fields.

Example:
https://go.dev/play/p/3rSbQB9euZT
I would expect the output to be simply
[code]

[2022-10-13 13:29] liggitt commented on #86
this library uses json marshaling under the covers, so this is a consequence of the golang json encoder also ignoring omitempty on structs (https://github.com/golang/go/issues/9585, https://github.com/golang/go/issues/10648, https://github.com/golang/go/issues/15719, https://github.com/golang/go/issues/42735)

there are a couple proposals to add new options to allow omitting empty structs, but it'

[2022-10-13 13:29] #86 closed

[2022-10-24 08:35] invidian commented on #30
/remove-lifecycle stale

[2022-11-29 10:19] tomasaschan commented on #68
/remove-lifecycle stale